$gap: 10px;

button {
  cursor: pointer;
  &:active {
    // transform: scale(0.9)
  };
}

input[type="color"] {
  cursor: pointer;
}

.color-button {
  background-color: rgb(14, 208, 14);
  margin-bottom: 30px;
  border-color: transparent;
}

.container-settings {
  display: flex;
  flex-direction: column;
  gap: $gap;
  align-items: flex-start;

  div {
    display: flex;
    gap: $gap;
  }
}

button {
  text-transform: uppercase;
}

.car-container {
  margin-bottom: 20px;
  border-bottom: 2px dashed white;
  position: relative;
}

.flag-container{
  position: absolute;
  right: 10rem;
  bottom: 0;
}

#cars{
  margin-bottom: 40px;
}

.container-race{
  display: flex;
  align-items: baseline;
  gap: $gap;
}

.winner {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 
      -1px -1px 1px #efede3, 
      0px 1px 0 #2e2e2e, 
      0px 2px 0 #2c2c2c, 
      0px 3px 0 #2a2a2a, 
      0px 4px 0 #282828, 
      0px 5px 0 #262626, 
      0px 6px 0 #242424, 
      0px 7px 0 #222, 
      0px 8px 0 #202020, 
      0px 9px 0 #1e1e1e, 
      0px 10px 0 #1c1c1c, 
      0px 11px 0 #1a1a1a, 
      0px 12px 0 #181818, 
      0px 13px 0 #161616, 
      0px 14px 0 #141414, 
      0px 15px 0 #121212,
      2px 20px 5px rgba(0, 0, 0, 0.9),
      5px 23px 5px rgba(0, 0, 0, 0.3),
      8px 27px 8px rgba(0, 0, 0, 0.5),
      8px 28px 35px rgba(0, 0, 0, 0.9);
      z-index: 2;
}

.hidden {
  display: none;
}